.About{
    color: white;
    display: block;
    padding: 7%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7em;
    margin-top: -4%;
    padding-bottom: 6%;
}
.Section{
    text-align: center;
    color: white;
    position: relative;
    left: 0;
    bottom: 20%;
    width: 100%;
    text-align: center;
}
.Section img {
    width: 5%;
    margin-top: -1%;
    padding: 1%;

}

h3 {
    margin-top: -5%;
    position: relative;
}