.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: block;
  
  
}
.text {
  margin: 0px;
  padding: 0px;
}
.image{
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 40px;
  z-index: 9999;
  padding: 10px;
  width: calc(2.4vw);
}
