@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
.text{
    position: fixed;
    left: 0;
    top: calc(25%);
    font-size: 1.4em;
    color: white;
    width: 100%;
    text-align: center;
}
.text button:hover{
    cursor: pointer;
}

