/* Chinmayi Balusu - profile picture_JPG_jp 1 */
.Container{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 5px;    
}
.Container img{
    flex: 25%;
    padding: 10px;
    border-radius: 50%;
    width: calc(20vw);
    height: calc(20%);
}
.Container p{
    color: white;
}
